
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484319662637'); /* IE9*/
  src: url('iconfont.eot?t=1484319662637#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484319662637') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484319662637') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484319662637#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-change_number:before { content: "\e616"; }

.icon-sold:before { content: "\e745"; }

.icon-hen:before { content: "\e606"; }

.icon-clean:before { content: "\e6dc"; }

.icon-edit:before { content: "\e690"; }

.icon-egg03:before { content: "\e63c"; }

.icon-farm:before { content: "\e67b"; }

.icon-forest:before { content: "\e636"; }

.icon-my:before { content: "\e766"; }

.icon-immunity:before { content: "\e66f"; }

.icon-my03:before { content: "\e6d3"; }

.icon-egg:before { content: "\e671"; }

.icon-wugu:before { content: "\e61b"; }

.icon-lose:before { content: "\e663"; }

.icon-locale:before { content: "\e617"; }

.icon-account:before { content: "\e61c"; }

.icon-house:before { content: "\e610"; }

.icon-batch:before { content: "\e609"; }

.icon-number:before { content: "\ea38"; }

.icon-use_drug:before { content: "\e63e"; }

.icon-operation:before { content: "\e622"; }

.icon-view:before { content: "\e64f"; }

.icon-my02:before { content: "\e60a"; }

.icon-ludan:before { content: "\e607"; }

.icon-change_locale:before { content: "\e600"; }

.icon-chook:before { content: "\e83e"; }

.icon-cock:before { content: "\e841"; }

.icon-chick:before { content: "\e608"; }

